.titles{
	display: inline-block;
	width: 40%;
}
.userProfile{
	background-color: white;
	min-height: 50.7%;
}
.userProfile-wrapper{
	margin-left:25%;
	margin-right:25%;
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-content:stretch;
	grid-row-gap: 10px;
	padding-top: 70px;
}
.userProfile-wrapper input{
	max-width: 350px;
	padding-left: 10px;
}
.userProfile-wrapper select{
	max-width: 350px;
}

.data{
	display: inline-block;
	width: 40%;
}

.titles div{
	height: 30px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.data div{
	height: 30px;
	margin-bottom: 10px;
}

.buttonMenu {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 50px;
	background: white;
	max-width: 200px;
	color: #740505;
	border-color: #740505;
}
.buttonMenu:hover {
	border-color: #740505;
	background: #740505;
	color: white;
}

.buttonMenu button{
	display: block;
}

.userError{
	background-color: white;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50.5%;
	font-size: 50px;
	font-family: 'Balsamiq Sans', cursive;
	color: #740505;
}

