.but{
	background: none;
	padding: 5px;
	border: 2px solid #9d1c7d;
	border-radius: 6px;
	font-weight: 600;
	transition: .25s;
	color: white;
	text-shadow:
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}
.but:hover{
	background: #9d1c7d;
	color:white;
}

.sexButton{
	transition: 0.5s;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 24px;
	background: none;
	color: #740505;
	border-radius: 10px;
	border:none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.sexButton:focus{
	outline: none;
}
.sexButtonActive{
	transition: 0.5s;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 24px;
	background: #740505;
	border-radius: 10px;
	border:none;
	color:#ffe5b4;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.sexButtonActive:focus{
	outline: none;
}

.btn-bascket{
	background: none;
	border:0px;
	cursor: pointer;
}
.btn-buscket>a:visited{
	border:0px;
	background:none;
}

.btn-exit-account{
	background: none;
	border:0px;
	cursor: pointer;
	padding: 15px;
}
.btn-exit-account:focus{
	outline: none;
}
.btn-exit-account>img{
	width: 30px;
	height: 30px;
}
