.dropdown{
	display: inline-block;
	
}

.dropdown-content {
	transition: 0.5s;
	opacity: 0;
    position: absolute;
    visibility: hidden;
    background-color: #f1f1f1;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}	

.dropdown-content a {
    color: #740505;
    background: white;
    text-decoration: none;
    display: inline-block;
    padding:  5px 15px;
    margin: 10px 30px;
}

.dropdown-content a:hover {
	color: white;
	background: #740505;
}

.sexMenu{
	align-self: stretch;
	margin-top:  15px;
	display: flex;
	align-items: center;
}

.sexMenu button:nth-child(1){
	margin-right: 5px;
}