*{
	padding: 0;
	margin: 0;
}
ul{
	text-decoration: none;
}
a{
	text-decoration: none;
}

.body{
	background-color: white;
}

.navbar-gradient{
	background-image: linear-gradient(150deg,#b7ebf6,rgba(228,97,210,0.7));
}

.log-img{
	width: 225px;
	height: 100px;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

.but-marg-left{
	margin-left:50px;
}
.but-marg-right{
	margin-right: 50px;
}

header{
	padding-top: 15px;
	padding-bottom: 40px;
	background: linear-gradient(0deg, white, #ffe5b4);
}
.up-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.wrapper-header{
	margin-left:25%;
	margin-right:25%;
}

.down-header{
	margin-top: 15px;
}
.down-header input{
	outline: none;
}
.search{
	background:none;
	color:#740505;
	width: 100%;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 21px;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 12px;
	padding-bottom: 12px;
	border: 1px solid #740505;
}
.search::placeholder{
	color:#740505;
}

footer{
	padding-top:100px;
	padding-bottom: 20px;
	padding-left: 260px;
	padding-right: 311px;
	background: linear-gradient(0deg, #DEB887, white);
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.nav-footer{
	display: flex;
	flex-direction: column;
}
.nav-footer>a:not(:last-child){
	margin-bottom: 1em;
	color: #740505;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 14px;
}
.nav-footer>a:visited{
	color: #740505;
}
.content-footer{
	color: #740505;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 14px;
}
.social-network-footer img{
	weight:45px;
	height: 45px;
	margin-top: 80px;
	margin-right: 20px;
	margin-left: 20px;
}

.neww{
	background-color: white;
	padding-bottom: 100px;
}
.wrapper-news{
	margin-left: 390px;
}
.news{
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 340px 228px;

}
.news .item:nth-child(1){
	grid-column-start: 1;
	grid-column: 1/-1;
	grid-gap: 1006px 334px;
	margin-bottom: 192px;
	margin-top: 172px;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}
.modalDialog > div {
	align:center;
	width: 40%;
	margin: 40px 30%;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	background: linear-gradient(180deg,white,#ffce71);
}
.close {
	margin-left: 640px;
	position: absolute;
}
.close img{
	width: 40px;
	height: auto;
}
.modalDialog .login{
	display: flex;
	flex-direction: column;
}

.registration{
	display: flex;
	flex-direction: column;
}
.registration>input{
	width: 60%;
	margin-left: 20%;
	border:1px solid black;
	border-radius: 3px;
	height: 40px;
	padding-left: 15px;
}
.registration>input::placeholder{
	color:grey;
	font-size: 16px;
}
.registration>label{
	margin-left: 20%;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 20px;
	margin-top: 20px;
	color: #800000;
}
.registration button{
	font-family: 'Balsamiq Sans', cursive;
	background-color: white;
	color: #800000;
	width: 35%;
	border-radius: 10px;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border:none;

}

.tabcontent:nth-child(2){
	display: none;
}

.form-btns{
	display: flex;
	justify-content:space-around;
	margin-top:50px;
	margin-bottom: 25px;

}
.text{
	color:#800000;
	font-family: 'Balsamiq Sans', cursive;
	text-align: center;
}

.log_out{
	display: inline;
	outline: none;
}
