.product{
	background:white;
}
.product-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 25%;
	margin-right: 25%;
	min-height: 50.7%;
	padding-top:70px;
}
.product-description{
	display: flex;
	flex-direction: column;

}
.product-wrapper img{
	border:1px solid black;
	width: 214px;
	height: 321px;
	background:white;
	display: block;
}
.product-description input{
	width: 40px;
	margin-left: 25px;
	border-radius: 3px;
	border:1px solid #D3D3D3;
	height: 40px;
	text-align: center;
}
.btn-product{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
	min-width: 200px;
	color: #740505;
	border-color: #740505;
}
.btn-product:hover{
	border-color: #740505;
	background: #740505;
	color: white;
}
.btn-product-all{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product-description label{
	margin-top: 0.5em;
}
.product-description label:nth-child(1){
	margin-top: 0;
}
.product-description select{
	height: 40px;
}
.product-select-color{
	margin-left: 40px;
	width: 140px;
}
.product-select-size{
	margin-left: 23px;
	width: 60px;
}
.product-label-price{
	margin-left: 36px;
}
.product-label-discount{
	margin-left: 25px;
}